.hero {
  background-color: var(--hero-background-color);
  color: var(--btg-hero-text-color);
}

.hero a {
  color: var(--btg-hero-text-color);
}

.hero a:hover {
  color: var(--btg-hero-text-color);
}
