:root {
  /* Brand Colors */
  /* --btg-color-brand-dark: #455054;
  --btg-color-brand-green: #308695;
  --btg-color-brand-pink: #d45769;
  --btg-color-brand-yellow: #e69d45;
  --btg-color-brand-light: #d4cfc9; */

  --btg-color-brand-sand: #e5ddc8;
  --btg-color-brand-teal: #01949a;
  --btg-color-brand-blue: #004369;
  --btg-color-brand-red: #db1f48;

  /* Neutral Colors */
  --btg-color-neutral-100: #1a1814;
  --btg-color-neutral-200: #302c27;
  --btg-color-neutral-300: #46413a;
  --btg-color-neutral-400: #5d564d;
  --btg-color-neutral-500: #746b60;
  --btg-color-neutral-600: #8b8174;
  --btg-color-neutral-700: #a39788;
  --btg-color-neutral-800: #e5ddc8;
  --btg-color-neutral-900: #f0eadb;
  --btg-color-neutral-1000: #faf7ee;

  /* Grey Colors */
  --btg-color-grey-100: #0a0c0d; /* Very dark */
  --btg-color-grey-200: #1c2124;
  --btg-color-grey-300: #2e363a;
  --btg-color-grey-400: #3b454a;
  --btg-color-grey-500: #455054; /* Your specified middle color */
  --btg-color-grey-600: #5d6a70;
  --btg-color-grey-700: #798589;
  --btg-color-grey-800: #99a3a8;
  --btg-color-grey-900: #bcc3c7;
  --btg-color-grey-1000: #e6e8ea; /* Very light */

  /* Primary Colors */
  --btg-color-primary-100: #003436;
  --btg-color-primary-200: #004b4f;
  --btg-color-primary-300: #006268;
  --btg-color-primary-400: #007b82;
  --btg-color-primary-500: #01949a;
  --btg-color-primary-600: #00adb3;
  --btg-color-primary-700: #00c6cc;
  --btg-color-primary-800: #00dfe6;
  --btg-color-primary-900: #33f2f9;
  --btg-color-primary-1000: #99f8fc;

  /* Accent Colors */
  --btg-color-accent-100: #3d0614;
  --btg-color-accent-200: #5c0a1e;
  --btg-color-accent-300: #7b0e28;
  --btg-color-accent-400: #9a1232;
  --btg-color-accent-500: #db1f48;
  --btg-color-accent-600: #e34468;
  --btg-color-accent-700: #e86a87;
  --btg-color-accent-800: #ee90a6;
  --btg-color-accent-900: #f3b6c5;
  --btg-color-accent-1000: #f9dce4;

  /* Highlight Colors */
  --btg-color-highlight-100: #001a2a;
  --btg-color-highlight-200: #002540;
  --btg-color-highlight-300: #003055;
  --btg-color-highlight-400: #003b6b;
  --btg-color-highlight-500: #004369;
  --btg-color-highlight-600: #005c8f;
  --btg-color-highlight-700: #0075b5;
  --btg-color-highlight-800: #008edb;
  --btg-color-highlight-900: #33a8e6;
  --btg-color-highlight-1000: #99d4f2;
}
