:root {
  /* Merriweather for Large Headings */
  --font-9xl: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-8xl: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-7xl: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --font-6xl: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-5xl: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-4xl: 'Inter', sans-serif;
  --font-3xl: 'Inter', sans-serif;
  --font-3xlBold: 'Inter', sans-serif;
  --font-2xl: 'Inter', sans-serif;
  --font-2xlMedium: 'Inter', sans-serif;

  --font-xl: 'Inter', sans-serif;
  --font-xlMedium: 'Inter', sans-serif;
  --font-lg: 'Inter', sans-serif;
  --font-lgItalic: 'Inter', sans-serif;
  --font-lgMedium: 'Inter', sans-serif;
  --font-lgMediumItalic: 'Inter', sans-serif;
  --font-base: 'Inter', sans-serif;
  --font-baseMedium: 'Inter', sans-serif;
  --font-sm: 'Inter', sans-serif;
  --font-smMedium: 'Inter', sans-serif;
  --font-xs: 'Inter', sans-serif;
  --font-xsMedium: 'Inter', sans-serif;

  --font-interface: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
