:root {
  /* Merriweather for Large Headings */
  --font-9Xl: 'Merriweather', serif;
  --font-8Xl: 'Merriweather', serif;
  --font-7Xl: 'Merriweather', serif;

  --font-6Xl: 'Merriweather', serif;
  --font-5Xl: 'Merriweather', serif;
  --font-4Xl: 'Inter', sans-serif;
  --font-3Xl: 'Inter', sans-serif;
  --font-3XlBold: 'Inter', sans-serif;
  --font-2Xl: 'Inter', sans-serif;
  --font-2XlMedium: 'Inter', sans-serif;

  --font-xl: 'Inter', sans-serif;
  --font-xlMedium: 'Inter', sans-serif;
  --font-lg: 'Inter', sans-serif;
  --font-lgItalic: 'Inter', sans-serif;
  --font-lgMedium: 'Inter', sans-serif;
  --font-lgMediumItalic: 'Inter', sans-serif;
  --font-base: 'Inter', sans-serif;
  --font-baseMedium: 'Inter', sans-serif;
  --font-sm: 'Inter', sans-serif;
  --font-smMedium: 'Inter', sans-serif;
  --font-xs: 'Inter', sans-serif;
  --font-xsMedium: 'Inter', sans-serif;

  --font-interface: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
