@keyframes stable {
  from {
    transform: translate(50px, 50px) rotate(0deg);
  }
  to {
    transform: translate(50px, 50px) rotate(0deg);
  }
}
@keyframes rotateClockwise {
  from {
    transform: translate(50px, 50px) rotate(0deg);
  }
  to {
    transform: translate(50px, 50px) rotate(360deg);
  }
}
@keyframes rotateCounterClockwise {
  from {
    transform: translate(50px, 50px) rotate(0deg);
  }
  to {
    transform: translate(50px, 50px) rotate(-360deg);
  }
}
.blob .blob1,
.blob .blob2,
.blob .blob3 {
  animation: stable 0.5s linear infinite;
}
.blob.animate .blob1 {
  animation: rotateClockwise 20s linear infinite;
}
.blob.animate .blob2 {
  animation: rotateCounterClockwise 25s linear infinite;
}
.blob.animate .blob3 {
  animation: rotateClockwise 30s linear infinite;
}
