:root {
  --btg-navigation-link-color: var(--btg-text-color);
}

.link {
  color: var(--btg-navigation-link-color);
}

.link:hover {
  color: var(--btg-navigation-link-color);
  text-decoration: underline;
}
